/.idea/codeStyles
/.idea
/npf-bio/target/classes/com/niepengfei/io/*.class
/*.iml
/npf-bio/npf-bio.iml
/npf-nio/npf-nio.iml
/npf-bio/target/classes/com/niepengfei/io/version0/ClientApp.class
/npf-bio/target/classes/com/niepengfei/io/version1/ClientApp.class
/npf-bio/target/classes/com/niepengfei/io/version2/ClientApp.class
/npf-bio/target/classes/com/niepengfei/io/version2/ServerApp$1.class
/npf-bio/target/classes/com/niepengfei/io/version0/ServerApp.class
/npf-bio/target/classes/com/niepengfei/io/version1/ServerApp.class
/npf-bio/target/classes/com/niepengfei/io/version2/ServerApp.class
/*.project
/bio-thinking1/*.classpath
/bio-thinking1/*.gitignore
/bio-thinking1/*.project
/bio-thinking1/.settings/*.prefs
/nio-thinking1/*.classpath
/nio-thinking1/*.gitignore
/nio-thinking1/*.project
/nio-thinking1/.settings/*.prefs
